* {
 outline: none;
}


/*---------Оформление. Общие стили---------*/
.support,
.support-two {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.support em,
.support-two em {
  background: #00FF76;
  border-radius: 20px;
  border: 1px solid #11643f;
  text-align: center;
  color: #353131;
  font: normal bold 16px Arial;
  padding: 0 4px;
  position: relative;
  top: -7px;
  left: -5px;
  font-size: 15px;
}

.tip,
.tip-two,
.tip-three,
span.support::before,
span.support-hover::before { 
    display: none;
    position: absolute;
    z-index: 9998;
    top: 100%;
    left: 100%;
    background: #1c1b1b;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 0.5em -0.1em rgba(0,0,6,0.5);
    text-align: left;
    color: #fff;
    font: normal 500 14px Arial, sans-serif;
    opacity: .9; 
    cursor: help;
    padding: 5px;
    margin: -15px 0 0 10px;
    width: 400px;
    min-height: 50px; 
  height: auto;
}
.tip-two,
.tip-three { 
    margin: -30px 0 0 0;
}
.tip:before,
.tip-two:before,
.tip-three:before {
  border-width: 9px 8px 9px 0;
  border-color: transparent #cccccc transparent transparent;
  top: 13px;
  left: -9px;
}
.tip:after,
.tip-two:after,
.tip-three:after {
  border-width: 7px 7px 7px 0;
  border-color: transparent #ededed transparent transparent;
  top: 15px;
  left: -7px;
}
.tip:before,
.tip-two:before,
.tip-three:before,
.tip:after,
.tip-two:after,
.tip-three:after {
  content:"";
  position:absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
}
a.support:focus em,
a.support-two:focus em,
#tip-checkbox:checked ~ .support em {
  background: #FFFF1A;
}

.tip-block {
  display: inline-block;
  position: relative;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  height: 0;
  width: 1px;
  top: -10px;
}


/*----------Использование тега 'INPUT'--------------*/

.tip-checkbox {
    display: none;
}

#tip-checkbox:checked ~ * .tip-three {
      display: block;
}

.tip-close {
  display: inline-block;
    position: absolute;
  background: #333;
  border-radius: 20px;
  border: 2px solid #FFF;
  top: -8px;
  right: -8px;
  font: normal bold 14px Comic Sans MS;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 0 4px;
}