/*******************Tooltip*********************/

.tooltip-inner {         /*******Текстовая область*******/
    max-width: 250px;
    padding: 10px 10px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    left: -15px;
    top:-5px;
    position: relative;
}

@media (max-width: 576px) {
.tooltip-inner{
 max-width: 200px;
   }
  }

  @media (max-width: 768px) {
.tooltip-inner{
 max-width: 250px;
   }
  }



.tooltip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    line-break: auto;
    position: absolute;
}

.tooltip.top .tooltip-arrow {     /*******Треугольник текстовой области*******/

    bottom: 0;
    left: 48%;
    bottom: 5px;
    margin-left: -24px;
    border-width: 5px 5px 0;
    border-top-color: #000;

}

.glyphicon{
top: -5px;
left: -5px; 
}


#infoIcon:hover{
color: #C6001E;
}

/*******************End Tooltip************************/


.links2  {
  margin: auto;
  width: 80%;
}
a {
  text-decoration: none;
  position: relative;
}


.center a::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFDD08;
  transition: 0.2s;
  transform: scaleX(0);
}
.center a:hover:before {
  transform: scaleX(1);
}

.container1{
padding-bottom: 20px; 
}

.left a.top::before {
  top: 0;
}
.left a::before {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #FFDD08;
  transition: 0.2s;
}
.left a:hover:before {
  width: 100%;
  left: 0;
}

.social-block-links{
 margin: 15px 0 15px; 
}

.social-block a {
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
  }

  .social-block a{
    margin-left: 5px;
    margin-right: 5px;
  }

  .ya-share2 a{
margin-top: 15px;
border-bottom: none;
}

    .portfolio-block a {
/*color: #072b6f;
color: #fff;*/
font-weight: 400;
text-decoration: none;
/*display: table; ширина по тексту в заголовке*/
/*border-bottom: 2px solid #c32017;/*амо подчеркивание*/
line-height: 21px;/*высота строки, ну и соответственно отступ от подчеркивания*/
}

p.links3{
display: flex;
justify-content: center;
}

a.support{
color: #FAFAFA;
font-size: 15px;
margin-top: 5px;
text-decoration: none;  
}

a.support:hover{
color: #FFC411;
} 

a{
  color: #fff;
  }
a.skype:hover{
text-decoration: none;
color: #FFC411;
} 

a.header-button:hover{
text-decoration: none;
}

a.footertel{
  margin: 5px;
  text-decoration: none;
  /*border-bottom: 2px dotted #fff;*/
}

a.footertel:hover{
color: #FFC411
}


p.links{
padding-top: 20px;
color: #333333; 
} 

a.links2{ 
color: #6C2192;
font-size: 21px;
font-weight: bold;  
}

a.links2:hover {  
color: #0C910C;
text-decoration: none;  
}
