/* Здесь будут храниться стили нашего сайта */

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.progress{
position: fixed;
left: 0;
top: 0;
width: 0;
height: 6px;
background-color: #BF00C6;
}

img {
	max-width: 100%;
	border-radius: 30px;
}

header {
	padding-top: 59px ;
	padding-bottom: 22px;
	color: #ffffff;
}

@media (max-width: 768px) {
header{
background-image: url(../img/bg-image3.jpg);	
}
}




@media (max-width: 576px) {
p.haunted{
margin: 15px 0 15px;	
}
}



/* задаем относительное позиционирование контейнеру */
.block{position:relative;}
/* Оформление скрытого элемента по умолчанию */ 
.hidden
{display: none;
position: absolute;
bottom: 130%;
left: 0px;
background-color: #fff;
color: #3aaeda;
padding: 5px;
text-align: center;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,.16);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
box-shadow: 0 1px 1px rgba(0,0,0,.16);
font-size: 12px;}
/* Дополнительное оформление скрытого элемента(необязательно) */
.focus + .hidden:before
{content: " ";
position: absolute;
top: 98%;
left: 10%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
height: 0;
width: 0;
border: 7px solid transparent;
border-right: 7px solid #fff;
border-color: #fff transparent transparent transparent;
z-index: 2;}
/* Дополнительное оформление скрытого элемента(необязательно) */
.focus + .hidden:after
{content: " ";
position: absolute;
top: 100%;
left: 10%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
height: 0;
width: 0;
border: 7px solid transparent;
border-right: 7px solid #fff;
border-color: rgba(0,0,0,.16) transparent transparent transparent;
z-index: 1;}
/* Появление скрытого элемента при клике */
.focus:focus + .hidden{display: block;}



/************** Стили для видео***************/
.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}
 
.embed-responsive.embed-responsive-4by3 {
	padding-bottom: 75%;
}
 
.embed-responsive{
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	width:100%;
}
 
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}


/*.header-img{
	border: 5px solid #7CDB22;
	border-radius: 50px;
}*/

.tooltip-inner{
margin-left: -10px !important;
}

tooltip.top .tooltip-arrow {
    margin-left: -15px !important;
}

p.share{
font-size: 20px;
color: #282923;	
font-weight: bold; 
margin-top: 25px;	
text-align: center;
}

h2{
color: #c32017;	
text-align: center;
}

h3{
text-align: center;
margin-bottom: 30px;
margin-top: 30px;
}
.text-color{
color: #8A2BE2;
margin: 0;
font-weight: bold;
}

.header-title {
font-size: 48px;
font-weight: 700;
line-height: 46.81px;	
margin-top: 21px;
border-radius: 15px;
padding: 10px 23px;
box-shadow: 0 10px 10px rgba(0,0,0,0.5);	
}


	@media (max-width: 576px) {
	p.header-pretitle{
		margin-top: 20px;
	text-align: center;
	 }
	}

	@media (max-width: 768px) {
	p.header-pretitle{
	margin-top: 47px;
	 }
	}

    @media (max-width: 992px) {
	p.header-pretitle{
	margin-top: 20px;
	 }
	}

.wsubscribe_content{
display: flex !important;	
justify-content: center !important;
}


p.header-subtitle {
margin-top: 60px;
color: #FAFAFA;
font-size: 30px;
font-weight: bold;
}

@media (max-width: 992px) {
p.header-subtitle{
display: none;
}
}



.subtitle2{
text-align: center;
margin-top: 60px;
color: #FFDD00;
font-size: 30px;
font-weight: bold;
}



.header-button {
display: inline-block;
text-decoration: none;
box-shadow: 2px 17px 45px 0.01px rgba(18, 61, 145, 0.83);
border-radius: 50px;
background-color: #ffffff;
color: #072b6f;
cursor: pointer;
font-size: 18px;font-weight: 700;
padding:  17px 55px; margin-top: 33px;
-webkit-transition: 0.2s;
-o-transition: 0.2s;
transition: 0.2s;
}

.header-button:hover {
box-shadow: none;	
}


header small {
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 9px;
}


.header-button-block {
max-width: 210px;
margin: 0 auto;	
}

/* Секция портфолио */
.portfolio {
background-color: #dddddd;
/*background-image: url(../img/bg-pattern7.jpg);*/
padding-top: 44px;
}

.portfolio2 {
background-color: #dddddd;
/*background-image: url(../img/bg-pattern7.jpg);*/
padding-top: 0;
}

.portfolio3 {
background-color: #dddddd;
/*background-image: url(../img/bg-pattern7.jpg);*/
padding-top: 0;
padding-bottom: 20px;
}


.portfolio-footer {
background-color: #fff;
padding: 15px 10px 20px;
box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
box-sizing: border-box;

}

.portfolio-block1 {
background-color: #fff;
padding: 29px 20px 20px;
padding-bottom: 44px;
box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
margin-bottom: 20px;
}

.portfolio-block {
background-color: #fff;
padding: 29px 29px 44px;
box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
margin-bottom: 20px;
}


.portfolio-title {
text-transform: uppercase;
font-size: 30px;
font-weight: bold;
color: #072b6f;
margin: 45px 5px 25px 5px;
padding: 0 5px;
}

@media (max-width: 768px) {
.layer ul li{
padding: 10px 10px;
font-size: 21px;
text-align: left;
list-style-type: none !important;
	 }
	}

.portfolio-subtitle {
margin: 10px 5px 10px;
font-size: 30px !important;
color: #002464 !important;
font-weight: bold;
}

.layer {
padding: 20px 10px 10px;
font-size: 21px;
text-align: left;
list-style-type: none !important;
}

ul li{
padding: 20px 0;
position: relative;
list-style-type: none !important;
}



.portfolio-title, .portfolio-subtitle {
text-align: center;
}


.portfolio-block h3{
color: #072B6F;
font-size: 22px;
font-weight: 700;
text-transform: uppercase;
}




.portfolio-text5{
margin-top: 45px;
margin-bottom: 5px;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 25px;
font-weight: bold;
color: #0b0b0b;
}

#vk_subscribe{
margin-top: 20px;

}

#vk_comments{
margin-top: 20px;	
}

.ya-share2{
text-align: center;
}

/*
.ya-share2__list{
margin-top: 20px !important;
}

*/

.ya-share2__container_size_m .ya-share2__icon{

height: 50px !important;
width: 50px !important;
background-size: 24px 24px;
}

.outline{
border: 2px solid #D316D8;
border-radius: 10px; 
padding: 5px;	
margin-bottom: 2px;
}

/* Оформление подвала */
footer {
background-color: #191919;
color: #fff;
padding-top: 60px;
padding-bottom: 110px;
}

.footer-author {
font-size: 20px;
margin-bottom: 7px;
margin-top: 0;
text-align: center;
}

.footer-text {
margin-top:0;
text-align: center;
}

.social-block {
text-align: center;
}


.footer-cta-block {
text-align: center;
}

.footer-cta { 
margin-bottom: 13px;
}


.footer-button {
display: inline-block;
text-decoration: none;
border: 1px solid #ffffff;
/*background-color: transparent;*/
color: #fff;
font-size: 18px;
border-radius: 50px;
padding: 12px 40px;	
-webkit-transition: 0.2s;
-o-transition: 0.2s;
transition: 0.2s;
} 

.footer-button:hover {
background-color: #fff;	
color: #191919;
cursor: pointer;
-webkit-transition: 0.2s;
-o-transition: 0.2s;
transition: 0.2s;
text-decoration: none;
}

.link-button{
margin-top: 25px;
display: inline-block;
text-decoration: none;
/*background-color: transparent;*/
background-color: #0C920C;
color: #fff;
font-size: 18px;
border-radius: 50px;
padding: 12px 20px;	
-webkit-transition: 0.2s;
-o-transition: 0.2s;
transition: 0.2s;
text-align: center;
}

.link-button:hover {
background-color: #035F03;	
color: #fff;
-moz-transition: 0.2s;
-webkit-transition: 0.2s;
-o-transition: 0.2s;
transition: 0.2s;
}

.contacts{
font-size: 17px;
text-align: center;
color: #fff;
transition: 0.2s;
}

.copyright{
color: #FFFFFF;
font-size: 15px;
margin-top: 50px;
margin-bottom: 5px;	
}	

p.txtpart{
font-family: 'Roboto', sans-serif;
text-align: center;	
margin-top: 30px;
color: #0B0B0B;
}



.copyright{
color: #FFFFFF;
font-size: 15px;
margin-top: 50px;
margin-bottom: 5px;	
}	

p.support2{
padding-top: 20px;
color: #fff;	
}

a.support2{	
color: #FFDD00;
font-size: 15px;	
}

a.support2:hover {	
color: #FFDD00;
text-decoration: none;	
}

@media (min-width: 992px) {
#subtitle2{
display: none;
{
}




@media (max-width: 576px) {
.header-title{
font-size: 40px;
padding-left: 60px;
}
}


@media (max-width: 768px) {
.header-title{
font-size: 30px;
}
}



@media (max-width: 992px) {
.footer-author{
margin-top: 0;	
}	
}




@media (max-width: 576px) {
.ya-share2{
text-align: center;
}
}

	
.footer-author{
font-size: 18px;
text-align: center;	
}
	
.footer-text{
font-size: 14px;
margin-bottom: 5px;
}

	
.social-block img{
width: 30px;
}


.footer-button{
font-size: 14px;
padding: 8px 35px;
}
	


.footer-author, .footer-text{	
text-align: center;
}
